body {
    font-family: 'Roboto', sans-serif;
}

/* Custom CSS to adjust textarea height */
.auto-height {
    overflow-y: hidden;
    resize: none;
    height: auto;
    min-height: 34px; /* Adjust this value as needed */
}

/* Adjust the height based on the content */
.auto-height:focus {
    height: auto;
    min-height: 34px; /* Adjust this value as needed */
}
